In [1]:
#!pip install pandas

In [2]:
#pip install pandera

In [3]:
import pandas as pd

In [4]:
import pandera as pa

In [5]:
df = pd.read_csv('ocorrencia_2010_2020.csv', sep=';', encoding='utf-8', parse_dates=['ocorrencia_dia'], dayfirst=True)

In [6]:
#df['ocorrencia_dia']= pd.to_datetime(df['ocorrencia_dia'])

In [7]:
#df.info()
#df.dtypes
#df.ocorrencia_dia.dt.month

In [8]:
df.head(10)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
5,39807,39807,INCIDENTE,SALVADOR,BA,****,2010-01-06,17:53:00,0
6,40215,40215,INCIDENTE,COARI,AM,SBUY,2010-01-07,18:40:00,0
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,****,2010-01-09,12:30:00,3
8,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,2
9,39711,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,****,2010-01-10,20:00:00,0

In [9]:
schema = pa.DataFrameSchema(
    columns= {
        'codigo_ocorrencia':pa.Column(pa.Int),
        'codigo_ocorrencia2':pa.Column(pa.Int),
        'ocorrencia_classificacao':pa.Column(pa.String),
        'ocorrencia_cidade':pa.Column(pa.String),
        'ocorrencia_uf':pa.Column(pa.String, pa.Check.str_length(2,2)),
        'ocorrencia_aerodromo':pa.Column(pa.String),
        'ocorrencia_dia':pa.Column(pa.DateTime),
        'ocorrencia_hora':pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'), nullable=True),
        'total_recomendacoes':pa.Column(pa.Int)
        }
) # validate column datetime in df
# 'codigo_ocorrencia_X':pa.Column(pa.Int, required=False) Interesting df less column

In [10]:
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
...,...,...,...,...,...,...,...,...,...
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30,18:30:00,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31,09:00:00,0
5751,79844,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0

# Cleaning Data

In [11]:
df.head(5)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [12]:
df.loc[:, 'ocorrencia_cidade']

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
5747              CAMPINAS
5748     LAGOA DA CONFUSÃO
5749        RIO DE JANEIRO
5750             VICENTINA
5751        RIO DE JANEIRO
Name: ocorrencia_cidade, Length: 5752, dtype: object

In [13]:
df.loc[[2,4]]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [14]:
df.codigo_ocorrencia.is_unique

True

In [15]:
df.set_index('codigo_ocorrencia', inplace=True) # configure index with code column

In [16]:
df.loc[:]

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
...,...,...,...,...,...,...,...,...
79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0
79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30,18:30:00,0
79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0
79756,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31,09:00:00,0
79844,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0

In [17]:
df.reset_index(drop=True, inplace=True) #reset index in df

In [18]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [19]:
# df.loc[df.ocorrencia_cidade == 'RJ', ['ocorrencia_classificacao'] = 'INCIDENTE' / change all cell

In [20]:
df.loc[df.ocorrencia_cidade == 'RIO DE JANEIRO']

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
19,44575,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2010-01-17,12:27:00,0
23,40311,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-19,13:20:00,0
24,41577,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-19,12:16:00,0
...,...,...,...,...,...,...,...,...
5703,79702,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-02,16:30:00,0
5706,79707,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2020-12-05,12:25:00,0
5710,79714,INCIDENTE,RIO DE JANEIRO,RJ,9PAA,2020-12-08,14:50:00,0
5749,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0
5751,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0

In [21]:
df.loc[df.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']] = pd.NA

In [22]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [23]:
df.replace(['****','*****','###!','####','**','NULL'], pd.NA, inplace=True)

In [24]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [25]:
df.isna().sum()

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2349
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [26]:
df.isnull().sum()

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2349
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [27]:
# df.fillna(0, inplace=True) change value outher

In [28]:
# df.fillna(value={'total_recomendacoes':10}, inplace=True)

In [29]:
df['ocorrencia_uf_bkp'] = df.ocorrencia_uf

In [30]:
df.columns

Index(['codigo_ocorrencia2', 'ocorrencia_classificacao', 'ocorrencia_cidade',
       'ocorrencia_uf', 'ocorrencia_aerodromo', 'ocorrencia_dia',
       'ocorrencia_hora', 'total_recomendacoes', 'ocorrencia_uf_bkp'],
      dtype='object')

In [31]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0,RJ
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0,PA
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,RJ
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0,MT
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,RS

In [32]:
# df.drop(['ocorrencia_uf_bkp'], axis=1, inplace=True) # drop column

In [33]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0,RJ
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0,PA
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,RJ
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0,MT
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,RS

In [34]:
# df.dropna(subset=['ocorrencia_uf']) drop line direct in column

In [35]:
# df.drop_duplicates(inplace=True) drop lines duplicates

# DATA TRANSFORM

In [36]:
# Important cleaning in start the read df
# missing_values = ['****','*****','###!','####','**','NULL']
# df = pd.read_csv('ocorrencia_2010_2020.csv', sep=';', encoding='utf-8', na_values=missing_values, parse_dates=['ocorrencia_dia'], dayfirst=True)

In [37]:
df.loc[1]

codigo_ocorrencia2                        40349
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                         BELÉM
ocorrencia_uf                                PA
ocorrencia_aerodromo                       SBBE
ocorrencia_dia              2010-01-03 00:00:00
ocorrencia_hora                        11:05:00
total_recomendacoes                           0
ocorrencia_uf_bkp                            PA
Name: 1, dtype: object

In [38]:
df.iloc[1]

codigo_ocorrencia2                        40349
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                         BELÉM
ocorrencia_uf                                PA
ocorrencia_aerodromo                       SBBE
ocorrencia_dia              2010-01-03 00:00:00
ocorrencia_hora                        11:05:00
total_recomendacoes                           0
ocorrencia_uf_bkp                            PA
Name: 1, dtype: object

In [39]:
df.iloc[-1]

codigo_ocorrencia2                        79844
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                RIO DE JANEIRO
ocorrencia_uf                                RJ
ocorrencia_aerodromo                       SBJR
ocorrencia_dia              2020-12-31 00:00:00
ocorrencia_hora                        13:24:00
total_recomendacoes                           0
ocorrencia_uf_bkp                            RJ
Name: 5751, dtype: object

In [40]:
# principal differences are indexing (iloc)

In [41]:
df.loc[:, 'ocorrencia_classificacao']

0             INCIDENTE
1             INCIDENTE
2             INCIDENTE
3              ACIDENTE
4             INCIDENTE
             ...
5747          INCIDENTE
5748    INCIDENTE GRAVE
5749          INCIDENTE
5750    INCIDENTE GRAVE
5751          INCIDENTE
Name: ocorrencia_classificacao, Length: 5752, dtype: object

In [42]:
df['ocorrencia_classificacao'] # equal function

0             INCIDENTE
1             INCIDENTE
2             INCIDENTE
3              ACIDENTE
4             INCIDENTE
             ...
5747          INCIDENTE
5748    INCIDENTE GRAVE
5749          INCIDENTE
5750    INCIDENTE GRAVE
5751          INCIDENTE
Name: ocorrencia_classificacao, Length: 5752, dtype: object

In [43]:
df.isna().sum()

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2349
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
ocorrencia_uf_bkp              1
dtype: int64

In [44]:
df.loc[df.ocorrencia_uf.isna()] # or .isnull() function

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
2227,49474,ACIDENTE,ÁGUAS INTERNACIONAIS,<NA>,<NA>,2013-09-02,02:54:00,0,<NA>

In [45]:
c_filter = df.ocorrencia_uf.isnull()

In [46]:
df.loc[c_filter]

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
2227,49474,ACIDENTE,ÁGUAS INTERNACIONAIS,<NA>,<NA>,2013-09-02,02:54:00,0,<NA>

In [47]:
df.count()

codigo_ocorrencia2          5752
ocorrencia_classificacao    5752
ocorrencia_cidade           5752
ocorrencia_uf               5751
ocorrencia_aerodromo        3403
ocorrencia_dia              5752
ocorrencia_hora             5751
total_recomendacoes         5752
ocorrencia_uf_bkp           5751
dtype: int64

In [48]:
df.drop(['ocorrencia_uf_bkp'], axis=1, inplace=True) # drop column

In [49]:
df.columns

Index(['codigo_ocorrencia2', 'ocorrencia_classificacao', 'ocorrencia_cidade',
       'ocorrencia_uf', 'ocorrencia_aerodromo', 'ocorrencia_dia',
       'ocorrencia_hora', 'total_recomendacoes'],
      dtype='object')

In [50]:
n_filter = df.total_recomendacoes > 10

In [51]:
df.loc[n_filter]

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
63,39992,ACIDENTE,SÃO PAULO,SP,SBMT,2010-02-17,20:07:00,11
326,42250,ACIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-08-12,12:26:00,19
530,43471,ACIDENTE,SÃO PAULO,SP,<NA>,2010-12-14,20:15:00,11
727,44377,ACIDENTE,ITÁPOLIS,SP,SDIO,2011-04-09,14:50:00,11
872,44796,ACIDENTE,RECIFE,PE,SBRF,2011-07-13,09:54:00,23
884,44888,INCIDENTE GRAVE,SÃO JOSÉ DOS PINHAIS,PR,SBCT,2011-07-15,17:05:00,11
1062,45554,INCIDENTE GRAVE,UBERLÂNDIA,MG,SBUL,2011-11-15,02:15:00,20
1972,47938,INCIDENTE,BRASÍLIA,DF,SBBR,2013-04-13,18:00:00,11
2795,52265,ACIDENTE,SANTOS,SP,<NA>,2014-08-13,13:03:00,13
3930,66432,INCIDENTE GRAVE,VITÓRIA,ES,<NA>,2017-02-21,11:47:00,12

In [52]:
df.loc[n_filter, ['ocorrencia_cidade','total_recomendacoes', 'ocorrencia_dia']]

         ocorrencia_cidade  total_recomendacoes ocorrencia_dia
63               SÃO PAULO                   11     2010-02-17
326         RIO DE JANEIRO                   19     2010-08-12
530              SÃO PAULO                   11     2010-12-14
727               ITÁPOLIS                   11     2011-04-09
872                 RECIFE                   23     2011-07-13
884   SÃO JOSÉ DOS PINHAIS                   11     2011-07-15
1062            UBERLÂNDIA                   20     2011-11-15
1972              BRASÍLIA                   11     2013-04-13
2795                SANTOS                   13     2014-08-13
3930               VITÓRIA                   12     2017-02-21

In [53]:
i_filter = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
df.loc[i_filter, ['ocorrencia_cidade','ocorrencia_dia']]

      ocorrencia_cidade ocorrencia_dia
7              CANUTAMA     2010-01-09
8              CASCAVEL     2010-01-10
9         PARÁ DE MINAS     2010-01-10
29             CURITIBA     2010-01-23
35               PALMAS     2010-01-26
...                 ...            ...
5741       NOVA MARINGÁ     2020-12-28
5744           GOIATUBA     2020-12-29
5746      MANOEL URBANO     2020-12-29
5748  LAGOA DA CONFUSÃO     2020-12-30
5750          VICENTINA     2020-12-31

[737 rows x 2 columns]

In [54]:
df.loc[i_filter]

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
7,39707,INCIDENTE GRAVE,CANUTAMA,AM,<NA>,2010-01-09,12:30:00,3
8,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,2
9,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,<NA>,2010-01-10,20:00:00,0
29,39709,INCIDENTE GRAVE,CURITIBA,PR,SBBI,2010-01-23,16:36:00,2
35,39487,INCIDENTE GRAVE,PALMAS,TO,SBPJ,2010-01-26,16:50:00,0
...,...,...,...,...,...,...,...,...
5741,79754,INCIDENTE GRAVE,NOVA MARINGÁ,MT,<NA>,2020-12-28,13:00:00,0
5744,79753,INCIDENTE GRAVE,GOIATUBA,GO,<NA>,2020-12-29,12:00:00,0
5746,79769,INCIDENTE GRAVE,MANOEL URBANO,AC,SIMB,2020-12-29,18:30:00,0
5748,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,<NA>,2020-12-30,18:30:00,0
5750,79756,INCIDENTE GRAVE,VICENTINA,MS,<NA>,2020-12-31,09:00:00,0

In [55]:
i_filter1 = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
i_filter2 = df.ocorrencia_uf == 'SP'
df.loc[i_filter1 & i_filter2]

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
136,40270,INCIDENTE GRAVE,PIRASSUNUNGA,SP,SDPY,2010-04-15,20:15:00,0
171,40620,INCIDENTE GRAVE,GUARULHOS,SP,SBGR,2010-05-06,15:50:00,0
219,41411,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,2010-06-08,19:30:00,2
297,42289,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,2010-07-29,20:06:00,0
314,42323,INCIDENTE GRAVE,SÃO JOSÉ DO RIO PRETO,SP,SBSR,2010-08-05,12:01:00,0
...,...,...,...,...,...,...,...,...
5591,79540,INCIDENTE GRAVE,SÃO PAULO,SP,<NA>,2020-09-12,13:10:00,0
5610,79566,INCIDENTE GRAVE,REGENTE FEIJÓ,SP,SDYJ,2020-09-27,19:33:00,0
5704,79739,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2020-12-03,14:42:00,0
5705,79705,INCIDENTE GRAVE,SOROCABA,SP,SDCO,2020-12-04,15:30:00,0
5715,79718,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,2020-12-11,13:50:00,0

In [56]:
df.loc[i_filter1 & i_filter2].count()

codigo_ocorrencia2          137
ocorrencia_classificacao    137
ocorrencia_cidade           137
ocorrencia_uf               137
ocorrencia_aerodromo        108
ocorrencia_dia              137
ocorrencia_hora             137
total_recomendacoes         137
dtype: int64

In [57]:
#i_filter1 = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
#i_filter2 = df.ocorrencia_classificacao == 'ACIDENTE'
## best option
i_filter1 = df.ocorrencia_classificacao.isin(['INCIDENTE GRAVE', 'ACIDENTE'])
i_filter3 = df.ocorrencia_uf == 'SP'
df.loc[i_filter1 & i_filter3]
#df.loc[(i_filter1 | i_filter2) & i_filter3]

# outher option
#i_filter1 = (df.ocorrencia_classificacao == 'INCIDENTE GRAVE') | (df.ocorrencia_classificacao == 'ACIDENTE')
#i_filter2 = df.ocorrencia_uf == 'SP'
#df.loc[i_filter1 & i_filter2]

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
11,40069,ACIDENTE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,8
34,39322,ACIDENTE,SÃO BERNARDO DO CAMPO,SP,<NA>,2010-01-26,13:50:00,2
37,39319,ACIDENTE,IPERÓ,SP,<NA>,2010-01-27,11:25:00,3
58,39275,ACIDENTE,SÃO PAULO,SP,<NA>,2010-02-10,09:03:00,3
61,41377,ACIDENTE,SERRA NEGRA,SP,<NA>,2010-02-14,17:30:00,0
...,...,...,...,...,...,...,...,...
5673,79669,ACIDENTE,SÃO PEDRO,SP,<NA>,2020-11-14,14:20:00,0
5696,79692,ACIDENTE,CATANDUVA,SP,SDCD,2020-11-28,12:50:00,0
5704,79739,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2020-12-03,14:42:00,0
5705,79705,INCIDENTE GRAVE,SOROCABA,SP,SDCO,2020-12-04,15:30:00,0
5715,79718,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,2020-12-11,13:50:00,0

In [58]:
df.loc[(i_filter1 | i_filter2) & i_filter3].count()

codigo_ocorrencia2          1373
ocorrencia_classificacao    1373
ocorrencia_cidade           1373
ocorrencia_uf               1373
ocorrencia_aerodromo         905
ocorrencia_dia              1373
ocorrencia_hora             1373
total_recomendacoes         1373
dtype: int64

In [59]:
i_filter = df.ocorrencia_cidade.str[0] == 'C' 
df.loc[i_filter]

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
6,40215,INCIDENTE,COARI,AM,SBUY,2010-01-07,18:40:00,0
7,39707,INCIDENTE GRAVE,CANUTAMA,AM,<NA>,2010-01-09,12:30:00,3
8,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,2
15,39315,ACIDENTE,CANUTAMA,AM,<NA>,2010-01-15,21:22:00,0
20,40310,INCIDENTE,CRUZEIRO DO SUL,AC,SBCZ,2010-01-18,19:32:00,0
...,...,...,...,...,...,...,...,...
5661,79649,INCIDENTE,CAMPINAS,SP,SBKP,2020-11-04,22:39:00,0
5663,79652,INCIDENTE,CONFINS,MG,SBCF,2020-11-06,14:20:00,0
5680,79683,INCIDENTE,CRUZEIRO DO SUL,AC,SBCZ,2020-11-16,22:00:00,0
5696,79692,ACIDENTE,CATANDUVA,SP,SDCD,2020-11-28,12:50:00,0
5747,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0

In [60]:
i_filter = df.ocorrencia_cidade.str[-1] == 'A' 
df.loc[i_filter]

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
7,39707,INCIDENTE GRAVE,CANUTAMA,AM,<NA>,2010-01-09,12:30:00,3
12,40414,INCIDENTE,BRASÍLIA,DF,SBBR,2010-01-10,03:00:00,0
15,39315,ACIDENTE,CANUTAMA,AM,<NA>,2010-01-15,21:22:00,0
25,39772,INCIDENTE,UBERLÂNDIA,MG,<NA>,2010-01-20,18:58:00,0
26,39847,INCIDENTE,SOROCABA,SP,<NA>,2010-01-20,13:10:00,0
...,...,...,...,...,...,...,...,...
5738,79787,INCIDENTE,FORTALEZA,CE,SBFZ,2020-12-23,18:30:00,0
5739,79749,ACIDENTE,MARITUBA,PA,<NA>,2020-12-26,12:05:00,0
5743,79824,ACIDENTE,RIO PARANAÍBA,MG,SNRP,2020-12-28,17:00:00,0
5744,79753,INCIDENTE GRAVE,GOIATUBA,GO,<NA>,2020-12-29,12:00:00,0
5750,79756,INCIDENTE GRAVE,VICENTINA,MS,<NA>,2020-12-31,09:00:00,0

In [61]:
i_filter = df.ocorrencia_cidade.str[-2:] == 'MA' 
df.loc[i_filter]

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
7,39707,INCIDENTE GRAVE,CANUTAMA,AM,<NA>,2010-01-09,12:30:00,3
15,39315,ACIDENTE,CANUTAMA,AM,<NA>,2010-01-15,21:22:00,0
408,43062,ACIDENTE,NOVO GAMA,GO,<NA>,2010-09-25,16:30:00,1
688,44198,ACIDENTE,BURITAMA,SP,<NA>,2011-03-19,11:18:00,0
1035,51785,INCIDENTE,BURITAMA,SP,SIBX,2011-10-25,19:15:00,0
1377,45939,ACIDENTE,UMUARAMA,PR,<NA>,2012-05-30,19:00:00,0
1401,46180,ACIDENTE,AURIFLAMA,SP,<NA>,2012-06-16,19:30:00,0
2099,49113,INCIDENTE GRAVE,NOVA LIMA,MG,<NA>,2013-06-15,12:00:00,4
2102,48799,ACIDENTE,CANUTAMA,AM,<NA>,2013-06-18,21:30:00,0
2655,51347,INCIDENTE,DIADEMA,SP,<NA>,2014-05-04,16:00:00,0
2855,52340,ACIDENTE,FAMA,MG,<NA>,2014-09-20,15:00:00,1
2966,52832,ACIDENTE,BURITAMA,SP,<NA>,2014-12-14,23:40:00,0
2997,52979,ACIDENTE,IVINHEMA,MS,<NA>,2015-01-02,14:50:00,0
3040,52984,ACIDENTE,NOVA LIMA,MG,SJLY,2015-02-01,15:10:00,0
3092,53596,INCIDENTE,ITAPEMA,SC,<NA>,2015-03-10,21:35:00,0
3157,53223,ACIDENTE,PINDORAMA,SP,<NA>,2015-04-22,12:45:00,0
3171,53265,ACIDENTE,PACARAIMA,RR,SDMM,2015-05-05,16:05:00,2
3189,53271,INCIDENTE GRAVE,UMUARAMA,PR,<NA>,2015-05-17,17:00:00,0
3682,65414,INCIDENTE GRAVE,NOVA LIMA,MG,SJLY,2016-07-08,19:50:00,1
3725,65633,INCIDENTE GRAVE,NOVA LIMA,MG,<NA>,2016-08-31,17:40:00,0
3881,66265,ACIDENTE,BURITAMA,SP,<NA>,2017-01-13,16:00:00,0
4229,77371,ACIDENTE,CANUTAMA,AM,SDKH,2017-11-02,19:30:00,1
4311,77612,ACIDENTE,ITAPEMA,SC,<NA>,2018-01-06,10:30:00,0
4574,78080,ACIDENTE,ITAPEMA,SC,<NA>,2018-07-28,14:20:00,0
4986,78867,INCIDENTE,IRACEMA,RR,<NA>,2019-07-06,00:00:00,0
5070,78923,INCIDENTE GRAVE,CANUTAMA,AM,<NA>,2019-09-03,14:00:00,0
5080,78782,ACIDENTE,IVINHEMA,MS,<NA>,2019-09-08,17:45:00,0
5405,79282,ACIDENTE,ITURAMA,MG,<NA>,2020-04-11,12:20:00,0
5440,79338,INCIDENTE,IVINHEMA,MS,<NA>,2020-05-15,09:40:00,0
5474,79400,INCIDENTE,IBIRAMA,SC,<NA>,2020-06-09,14:00:00,0

In [62]:
i_filter = df.ocorrencia_cidade.str.contains('UTA') 
df.loc[i_filter]

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
7,39707,INCIDENTE GRAVE,CANUTAMA,AM,<NA>,2010-01-09,12:30:00,3
15,39315,ACIDENTE,CANUTAMA,AM,<NA>,2010-01-15,21:22:00,0
1674,46584,ACIDENTE,ARAPUTANGA,MT,SWYH,2012-11-08,12:10:00,0
1759,46842,ACIDENTE,ITUIUTABA,MG,<NA>,2012-12-22,21:30:00,0
2102,48799,ACIDENTE,CANUTAMA,AM,<NA>,2013-06-18,21:30:00,0
4229,77371,ACIDENTE,CANUTAMA,AM,SDKH,2017-11-02,19:30:00,1
5006,78765,ACIDENTE,AUTAZES,AM,<NA>,2019-07-25,11:20:00,0
5070,78923,INCIDENTE GRAVE,CANUTAMA,AM,<NA>,2019-09-03,14:00:00,0
5394,79272,INCIDENTE GRAVE,FRUTAL,MG,<NA>,2020-04-03,13:00:00,0

In [63]:
i_filter = df.ocorrencia_cidade.str.contains('UTA|ANU') 
df.loc[i_filter]

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
7,39707,INCIDENTE GRAVE,CANUTAMA,AM,<NA>,2010-01-09,12:30:00,3
15,39315,ACIDENTE,CANUTAMA,AM,<NA>,2010-01-15,21:22:00,0
1674,46584,ACIDENTE,ARAPUTANGA,MT,SWYH,2012-11-08,12:10:00,0
1759,46842,ACIDENTE,ITUIUTABA,MG,<NA>,2012-12-22,21:30:00,0
2102,48799,ACIDENTE,CANUTAMA,AM,<NA>,2013-06-18,21:30:00,0
3710,65509,INCIDENTE GRAVE,JANUÁRIA,MG,SNJN,2016-08-11,19:00:00,0
4229,77371,ACIDENTE,CANUTAMA,AM,SDKH,2017-11-02,19:30:00,1
5006,78765,ACIDENTE,AUTAZES,AM,<NA>,2019-07-25,11:20:00,0
5070,78923,INCIDENTE GRAVE,CANUTAMA,AM,<NA>,2019-09-03,14:00:00,0
5394,79272,INCIDENTE GRAVE,FRUTAL,MG,<NA>,2020-04-03,13:00:00,0

In [64]:
# DATE Year
i_filter = df.ocorrencia_dia.dt.year == 2015
df.loc[i_filter]

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
2996,52992,INCIDENTE GRAVE,SALVADOR,BA,SBSV,2015-01-01,11:40:00,3
2997,52979,ACIDENTE,IVINHEMA,MS,<NA>,2015-01-02,14:50:00,0
2998,53073,INCIDENTE,TEFÉ,AM,SBTF,2015-01-02,16:28:00,0
2999,53074,INCIDENTE,BELO HORIZONTE,MG,SBBH,2015-01-02,20:34:00,0
3000,52976,ACIDENTE,TOLEDO,PR,SBTD,2015-01-04,22:04:00,6
...,...,...,...,...,...,...,...,...
3462,60632,INCIDENTE GRAVE,ITABERÁ,SP,<NA>,2015-12-24,14:00:00,0
3463,60600,INCIDENTE,GUARULHOS,SP,SBGR,2015-12-25,19:00:00,0
3464,60642,INCIDENTE,SÃO FRANCISCO DO SUL,SC,SSSS,2015-12-26,16:00:00,0
3465,60631,ACIDENTE,MAÇAMBARÁ,RS,<NA>,2015-12-28,19:00:00,2
3466,60649,ACIDENTE,PORTO BELO,SC,SDEN,2015-12-31,14:00:00,0

In [65]:
# DATE Year and Month

i_filter = (df.ocorrencia_dia.dt.year == 2015)&(df.ocorrencia_dia.dt.month == 6)
#i_filter = df.ocorrencia_dia.dt.year == 2015
#i_filter2 = df.ocorrencia_dia.dt.month == 6
#df.loc[i_filter & i_filter2]
df.loc[i_filter]
#df.loc[i_filter].count()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
3210,53311,INCIDENTE,MANAUS,AM,<NA>,2015-06-01,03:45:00,0
3211,53310,INCIDENTE,CARAUARI,AM,SWCA,2015-06-02,20:53:00,0
3212,53323,ACIDENTE,PATROCÍNIO,MG,<NA>,2015-06-05,15:05:00,0
3213,53328,INCIDENTE,BRASÍLIA,DF,<NA>,2015-06-05,00:35:00,0
3214,53307,ACIDENTE,BELO HORIZONTE,MG,SBBH,2015-06-07,18:25:00,0
3215,53308,INCIDENTE GRAVE,SÃO LUÍS,MA,SBSL,2015-06-09,16:05:00,1
3216,53326,INCIDENTE GRAVE,GUARATINGUETÁ,SP,SBGW,2015-06-10,19:15:00,1
3217,53391,INCIDENTE,JOINVILLE,SC,SBJV,2015-06-10,17:46:00,0
3218,53324,ACIDENTE,GOIÂNIA,GO,SWNV,2015-06-11,17:55:00,0
3219,53344,INCIDENTE,PORTEL,PA,SIPY,2015-06-11,10:00:00,0
3220,53325,ACIDENTE,NOVO HAMBURGO,RS,SSNH,2015-06-13,16:30:00,1
3221,53347,INCIDENTE,BELO HORIZONTE,MG,SBBH,2015-06-13,14:25:00,0
3222,53327,ACIDENTE,PACAEMBU,SP,<NA>,2015-06-14,18:00:00,0
3223,53330,INCIDENTE,CAMPINAS,SP,SBGR,2015-06-14,12:27:00,0
3224,53349,INCIDENTE,PORTO ALEGRE,RS,SBPA,2015-06-15,20:42:00,0
3225,53331,ACIDENTE,OURO PRETO,MG,<NA>,2015-06-16,19:10:00,2
3226,53339,ACIDENTE,RONDONÓPOLIS,MT,<NA>,2015-06-16,17:00:00,0
3227,53333,ACIDENTE,PIRACICABA,SP,SDPW,2015-06-17,19:30:00,2
3228,53341,ACIDENTE,SIQUEIRA CAMPOS,PR,<NA>,2015-06-17,21:00:00,0
3229,53348,INCIDENTE,SÃO JOSÉ DOS PINHAIS,PR,SBCT,2015-06-17,14:11:00,0
3230,53332,INCIDENTE GRAVE,SALVADOR,BA,SBSV,2015-06-19,09:25:00,3
3231,53392,INCIDENTE,MACAÉ,RJ,SBME,2015-06-19,17:54:00,0
3232,53343,ACIDENTE,CRUZ ALTA,RS,SSAK,2015-06-21,18:00:00,0
3233,53346,INCIDENTE,SÃO PAULO,SP,SBMT,2015-06-21,18:20:00,0
3234,53345,INCIDENTE,SÃO PAULO,SP,SBMT,2015-06-25,14:25:00,0
3235,53340,ACIDENTE,CAUCAIA,CE,<NA>,2015-06-26,19:38:00,8
3236,53455,INCIDENTE,SÃO PAULO,SP,SBGR,2015-06-26,03:05:00,0
3237,53380,ACIDENTE,MONTENEGRO,RS,SSNG,2015-06-27,18:30:00,0
3238,53355,INCIDENTE GRAVE,MACAÉ,RJ,SBME,2015-06-28,11:46:00,2
3239,53370,ACIDENTE,SAPEZAL,MT,<NA>,2015-06-29,19:40:00,0
3240,53381,ACIDENTE,CONSELHEIRO LAFAIETE,MG,SNKF,2015-06-29,18:00:00,0
3241,53386,INCIDENTE,SÃO PAULO,SP,SBMT,2015-06-30,12:45:00,0

In [66]:
# DATE Year and Month with day
i_filter = (df.ocorrencia_dia.dt.year == 2015)&(df.ocorrencia_dia.dt.month == 12)&(df.ocorrencia_dia.dt.day == 8)
df.loc[i_filter]
#df.loc[i_filter].count()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
3436,53628,ACIDENTE,AGUAÍ,SP,<NA>,2015-12-08,14:30:00,1
3437,53629,ACIDENTE,JALES,SP,SDJL,2015-12-08,10:20:00,0
3438,53631,INCIDENTE,CAMPINAS,SP,SBKP,2015-12-08,16:19:00,0
3439,60636,INCIDENTE,CAXIAS DO SUL,RS,SBCX,2015-12-08,13:00:00,0

In [67]:
# DATE Year and Month with day and between different days
i_filter = (df.ocorrencia_dia.dt.year == 2015)&(df.ocorrencia_dia.dt.month == 12)
i_filter_days = ((df.ocorrencia_dia.dt.day >= 3)&(df.ocorrencia_dia.dt.day <= 8))
df.loc[i_filter & i_filter_days]
#df.loc[i_filter].count()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
3432,53575,INCIDENTE,CAMPOS DOS GOYTACAZES,RJ,SBFS,2015-12-03,10:50:00,0
3433,60637,INCIDENTE,BELO HORIZONTE,MG,SBBH,2015-12-03,16:47:00,0
3434,53625,ACIDENTE,TRINDADE,GO,<NA>,2015-12-06,13:10:00,3
3435,53626,ACIDENTE,AMERICANA,SP,SDAI,2015-12-06,15:00:00,1
3436,53628,ACIDENTE,AGUAÍ,SP,<NA>,2015-12-08,14:30:00,1
3437,53629,ACIDENTE,JALES,SP,SDJL,2015-12-08,10:20:00,0
3438,53631,INCIDENTE,CAMPINAS,SP,SBKP,2015-12-08,16:19:00,0
3439,60636,INCIDENTE,CAXIAS DO SUL,RS,SBCX,2015-12-08,13:00:00,0

In [71]:
df['ocorrencia_dia_hora'] = pd.to_datetime(df.ocorrencia_dia.astype(str) + ' ' + df.ocorrencia_hora)

In [72]:
df.ocorrencia_dia_hora

0      2010-01-03 12:00:00
1      2010-01-03 11:05:00
2      2010-01-03 03:00:00
3      2010-01-04 17:30:00
4      2010-01-05 19:25:00
               ...
5747   2020-12-29 19:00:00
5748   2020-12-30 18:30:00
5749   2020-12-30 00:54:00
5750   2020-12-31 09:00:00
5751   2020-12-31 13:24:00
Name: ocorrencia_dia_hora, Length: 5752, dtype: datetime64[ns]

In [73]:
df.dtypes

codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
ocorrencia_dia_hora         datetime64[ns]
dtype: object

In [74]:
# DATE Year and Month with day and between different days
i_filter = (df.ocorrencia_dia_hora.dt.year == 2015)&(df.ocorrencia_dia_hora.dt.month == 12)
i_filter_days = ((df.ocorrencia_dia_hora.dt.day >= 3)&(df.ocorrencia_dia_hora.dt.day <= 8))
df.loc[i_filter & i_filter_days]
#df.loc[i_filter].count()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_dia_hora
3432,53575,INCIDENTE,CAMPOS DOS GOYTACAZES,RJ,SBFS,2015-12-03,10:50:00,0,2015-12-03 10:50:00
3433,60637,INCIDENTE,BELO HORIZONTE,MG,SBBH,2015-12-03,16:47:00,0,2015-12-03 16:47:00
3434,53625,ACIDENTE,TRINDADE,GO,<NA>,2015-12-06,13:10:00,3,2015-12-06 13:10:00
3435,53626,ACIDENTE,AMERICANA,SP,SDAI,2015-12-06,15:00:00,1,2015-12-06 15:00:00
3436,53628,ACIDENTE,AGUAÍ,SP,<NA>,2015-12-08,14:30:00,1,2015-12-08 14:30:00
3437,53629,ACIDENTE,JALES,SP,SDJL,2015-12-08,10:20:00,0,2015-12-08 10:20:00
3438,53631,INCIDENTE,CAMPINAS,SP,SBKP,2015-12-08,16:19:00,0,2015-12-08 16:19:00
3439,60636,INCIDENTE,CAXIAS DO SUL,RS,SBCX,2015-12-08,13:00:00,0,2015-12-08 13:00:00

In [78]:
i_filter1 = df.ocorrencia_dia_hora >= '2015-12-03 10:50:00'
i_filter2 = df.ocorrencia_dia_hora <= '2015-12-08 13:00:00'
df.loc[i_filter1 & i_filter2]

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_dia_hora
3432,53575,INCIDENTE,CAMPOS DOS GOYTACAZES,RJ,SBFS,2015-12-03,10:50:00,0,2015-12-03 10:50:00
3433,60637,INCIDENTE,BELO HORIZONTE,MG,SBBH,2015-12-03,16:47:00,0,2015-12-03 16:47:00
3434,53625,ACIDENTE,TRINDADE,GO,<NA>,2015-12-06,13:10:00,3,2015-12-06 13:10:00
3435,53626,ACIDENTE,AMERICANA,SP,SDAI,2015-12-06,15:00:00,1,2015-12-06 15:00:00
3437,53629,ACIDENTE,JALES,SP,SDJL,2015-12-08,10:20:00,0,2015-12-08 10:20:00
3439,60636,INCIDENTE,CAXIAS DO SUL,RS,SBCX,2015-12-08,13:00:00,0,2015-12-08 13:00:00

In [81]:
# date year and Month

i_filter = (df.ocorrencia_dia.dt.year == 2015)
i_filter2 = (df.ocorrencia_dia.dt.month == 3)
df201503 = df.loc[i_filter & i_filter2]

In [83]:
df201503.count()

codigo_ocorrencia2          37
ocorrencia_classificacao    37
ocorrencia_cidade           37
ocorrencia_uf               37
ocorrencia_aerodromo        21
ocorrencia_dia              37
ocorrencia_hora             37
total_recomendacoes         37
ocorrencia_dia_hora         37
dtype: int64

In [87]:
df201503.groupby(['ocorrencia_classificacao']).codigo_ocorrencia2.count()

ocorrencia_classificacao
ACIDENTE           15
INCIDENTE          17
INCIDENTE GRAVE     5
Name: codigo_ocorrencia2, dtype: int64

In [88]:
df201503.groupby(['ocorrencia_classificacao']).ocorrencia_aerodromo.count()

ocorrencia_classificacao
ACIDENTE            5
INCIDENTE          14
INCIDENTE GRAVE     2
Name: ocorrencia_aerodromo, dtype: int64

In [89]:
df201503.groupby(['ocorrencia_classificacao']).size()

ocorrencia_classificacao
ACIDENTE           15
INCIDENTE          17
INCIDENTE GRAVE     5
dtype: int64

In [90]:
df201503.groupby(['ocorrencia_classificacao']).size().sort_values()

ocorrencia_classificacao
INCIDENTE GRAVE     5
ACIDENTE           15
INCIDENTE          17
dtype: int64

In [91]:
df201503.groupby(['ocorrencia_classificacao']).size().sort_values(ascending=False)

ocorrencia_classificacao
INCIDENTE          17
ACIDENTE           15
INCIDENTE GRAVE     5
dtype: int64

In [99]:
# date year 2010 in different states sp, rj, mg, es.
i_filter = df.ocorrencia_dia.dt.year == 2010
i_filter2 = df.ocorrencia_uf.isin(['SP','RJ','MG','ES'])
dfsoutheast2010 = df.loc[i_filter & i_filter2]

In [100]:
dfsoutheast2010

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_dia_hora
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0,2010-01-03 12:00:00
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,2010-01-03 03:00:00
9,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,<NA>,2010-01-10,20:00:00,0,2010-01-10 20:00:00
11,40069,ACIDENTE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,8,2010-01-10 14:50:00
16,39809,INCIDENTE,SÃO PAULO,SP,<NA>,2010-01-15,15:00:00,0,2010-01-15 15:00:00
...,...,...,...,...,...,...,...,...,...
541,43722,ACIDENTE,CAJOBI,SP,<NA>,2010-12-23,11:00:00,0,2010-12-23 11:00:00
544,43548,INCIDENTE,SÃO PAULO,SP,SBSP,2010-12-26,22:10:00,0,2010-12-26 22:10:00
548,43724,ACIDENTE,COSMÓPOLIS,SP,<NA>,2010-12-29,12:00:00,0,2010-12-29 12:00:00
550,43730,INCIDENTE,VITÓRIA,ES,<NA>,2010-12-30,18:10:00,0,2010-12-30 18:10:00
551,43975,INCIDENTE,ARRAIAL DO CABO,RJ,<NA>,2010-12-30,14:28:00,0,2010-12-30 14:28:00